---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Myimagen from '../components/Myimagen.astro';
import Articlep from '../components/Articlep.astro';
import Addimagen from '../components/Addimagen.astro';

/* const typelang ="java"; */
---

<Layout title="Welcome to Astro.">
	<div slot="aside">
		<p>este es el aside </p>
	</div>
	<main slot="main">


		<h1>CURSO  NODE</h1>

		
		<Articlep>
			<h1 class="title-h1">Curso NODE JS</h1>
		</Articlep>


	

	</main>

	
</Layout>

<style>




	
	main {
	/* 	margin: 0 auto;
		padding: 1rem; */
		color: white;
		font-size: 20px;
		line-height: 1.6;
		/* margin: 10px; */
	}
	


	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	
	
	
</style>