---





interface Props {
	codigo: string;
    typeLan: string;
}

const { codigo, typeLan } = Astro.props;
---


<div class="code-css">
    <pre class="pre-code">
        <code  class={typeLan} data-previewers="color time" data-prismjs-copy="Copy the JavaScript snippet!">
         {codigo}


        </code>
      </pre>
</div>







<style>

 pre{
        overflow: auto;
    } 

    code{
        font-size: 1rem;
    }



    .code-css{
        min-width: none;
        max-width: 800px;
        font-size: 1rem;
    }


    


 
</style>