<div class="footer">
    <p>creado por Solu-Informática</p>
</div>


<style>
    .footer{
        padding: 10px 0;
        background-color: #20252C;
    }
    p{
        width: 300px;
        margin: 25px auto;
    }
</style>