---
import miImagen from '../assets/lich.jpg';
import cssImage from '../assets/code_css.jpg';
---

<div class="imagen"><img src={cssImage.src} height="350px"></div>



<style>
    
.imagen{
    min-width: 200px;
    max-width: 800px;
    overflow: auto;
    margin: 10px;
    border: 1px solid white;
}
</style>