<div>
    <details>
        <summary class="summary-left">
            <a>Contenido Del Curso</a>
        </summary>
        <ul class="ul-summary">
            <li><a href="/">Curso NODE JS</a></li>
            <li><a href="/contents/express">express version common js</a></li>
            <li><a href="/contents/ecmas">express version ECMAScript js</a></li>
            <li><a href="/contents/mongodb">mongodb conexion</a></li>
            
           <!-- 1 <li><a href="./pages/varoper.html">Variables y Tipos de Operadores</a></li>
            <li><a href="./pages/estructuras.html">Estructuras de control</a></li>
            <li><a href="./pages/funciones.html">Funciones</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Clases y objetos</a></li>
            <li><a href="#">DOM</a></li>
            <li><a href="#">Asincronía y Callbacks</a></li>
            <li><a href="#">APIs y JSON</a></li> -->
        </ul>
    </details>
</div>


<style>
    details{
    background: rgb(63, 58, 58);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


details[open] summary ~ *{
    animation: load 0.8s ease-in-out;
}


@keyframes load {
    from{opacity: 0; margin-left: -10px}
    to{opacity: 1; margin-left: 0px}
}

.summary-left{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(166, 76, 15);
    list-style-type: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 1rem;
    background: #02020233; 
    cursor: pointer;
    transition: 0.5s;
}

.ul-summary{
    padding: 0 10px 20px;
}


details ul li{
    list-style-type: none;
    /* margin: 10px; */
    font-size: 2rem;
    /* border-top: 1px solid grey; */
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 20px 10px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 8px;  

}

  details ul li:hover{
    background-color: rgb(29, 23, 19);
  }
</style>