<section>
    <ul class="imagen-intro">
        <li>
          <div>
            <div class="child-li"></div>
          <p>CURSO CSS</p>
          </div>
            
        </li>
    
    </ul>
</section>

<style>
    	section{
		/* background-color: #392c1d; */
        margin-top: 0;
	}

    li>div{
        width: auto;
    }

	.imagen-intro{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 10px;
		margin: 0 auto;
		justify-content: center;
		list-style: none;
		padding:30px 5px;
	}

    p{
        font-size: 4rem;
        color: blueviolet;
        text-align: center;
        background-color: rgb(22, 7, 28);
        margin: 0;
        padding: 10px 0;
    }

    p:hover{
        color: rgb(203, 78, 16);
    }

  

	.imagen-intro>li{
		

	}

    .child-li{
    
		width: 90vw;
		font-size: 3rem;
        transition: 0.2s;
        background-image: url('../../assets/csslogo.svg');
        background-size:cover;
      /*   background-position:center; */
        background-repeat:no-repeat;
         height: calc(90vw / 2.3);
    }
    .imagen-intro>li:hover{
		border: 1px solid red;
        
    }

    .texto-ul{
        position: absolute;
        color: rgb(202, 111, 0);
        bottom: 0;
        background-color: aqua;
    }

    @media screen and (max-width: 700px){
    .imagen-intro{
        flex-direction: column;
        align-items: center;
        
    }

    .imagen-intro>li{
		border: 1px solid white;
		width: 90vw;
		font-size: 2rem;
	}
}
</style>